@model List<Paciente>
@{
    ViewData["Title"] = "Fila de atendimento";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.webmanifest" />
    <title>Fila de atendimento</title>
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>
<body>
    <header class="py-2 mb-3 border-bottom shadow-sm">
        <div class="container-fluid d-grid gap-2">
            <div>
                <h1 class="page-title">Fila de atendimento</h1>
            </div>

            <div class="d-flex">
                <div class="me-3 w-100">
                    <input type="search"
                           class="form-control rounded-pill border-dark w-100"
                           placeholder="🔎 Prioridade ou nome"
                           aria-label="Search"
                           id="list-search" />
                </div>
                <button class="btn" type="button" id="sort">
                </button>
                <select class="form-select" id="order-type">
                    <option selected value="1">Prioridade </option>
                    <option value="2">Nome</option>
                    <!-- <option value="3">Hora de Chegada</option> -->
                </select>
            </div>
        </div>

    </header>
    <main class="my-1">
        <ol id="pacientes">
        </ol>
        <span id="emptyList">Nenhum paciente cadastrado</span>
        <div class="float">
            <button class="btn" type="button" id="add">+</button>
        </div>
    </main>
</body>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_Scripts");
    }
}
